
.idea/credit_hours_app.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
index 2.html
index_old.html
.claspignore
.clasp.json
.DS_Store
.DS_Store
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
